@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

* {

    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*,
body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
    margin: 0;
    padding: 0;
}

/* ##################### Section Main ####################### */

.section__main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel__item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel__item img {
    width: 100%;
    display: block;
}

.buttons button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel__dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateY(-50%);
    display: flex;
}

.carousel__dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 40%;
    cursor: pointer;
}

.carousel__dot.active {
    background-color: #717171;
}